@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg: rgba(227, 247, 255, 0.685);
  --count: rgba(1, 16, 29, 0.911);
  --title: rgba(7, 63, 100, 0.829);
  --font: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg);
  font-family: var(--font);
}

.centering {
  display: grid;
  width: 60vw;
  grid-template-columns: 50% auto;
  place-items: center;
  align-items: center;
  column-gap: 15px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}

img {
  width: 560px;
  height: 400px;
}

h2 {
  text-transform: capitalize;
}

.gift-container {
  display: grid;
  height: 100%;
  width: 100%;
  max-width: 750px;
  max-height: 400px;
  grid-template-rows: 10% 65% 25%;
  place-items: center;
  justify-content: center;
}

.title {
  width: 100%;
  text-align: center;
}

.gift-info {
  width: 100%;
  text-align: left;
}

.countdown {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  place-items: center;
}
.countdown div {
  display: grid;
  place-items: center;
  height: 6rem;
  width: 6rem;
  background-color: var(--count);
  color: white;
}

#days,
#hours,
#minutes,
#seconds {
  font-size: 3.5rem;
}

@media screen and (max-width: 992px) {
  .centering {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "a" "b";
    grid-template-columns: auto;

    column-gap: 0;
    row-gap: 15px;
  }
  .img-container {
    grid-area: a;
  }
  .gift-container {
    grid-area: b;
    grid-template-rows: auto auto auto;
    row-gap: 15px;
  }
}
